.footer
    .footer__header
        .footer__header__content
            span &#169 DEOPBOB
            i.fas.fa-utensils
            h5 개인정보취급방침
            h5 이용약관
        .footer__header__content
            i.fab.fa-facebook-square    
            i.fab.fa-instagram
            i.fab.fa-twitter
            i.fab.fa-apple
            i.fab.fa-google-play
    .footer__main   
        span 상호: (주)덮밥 사업장소재지: 인천시 남동구 구월동
        span email: kks_big@naver.com, TEL: 010-0000-0000
        span 대표이사: 덮밥
    .footer__footer 
        span &#169 2019 DEOPBOB         