extends ./layouts/main

block content
    .form-container
        form(action=routes.changePassword(user.id), method="post")
            input(type="password", name="password1", placeholder="Password")
            input(type="password", name="password2", placeholder="Verify Password")
            input(type="submit", value="Change Password")
