extends ./layouts/main

block content
    .form-container
        form(action=routes.changePassword(user.id), method="post")
            input(type="password", name="oldPassword", placeholder="Current Password")
            input(type="password", name="newPassword", placeholder="Password")
            input(type="password", name="newPassword2", placeholder="Verify Password")
            input(type="submit", value="Change Password")
