extends ./layouts/main

block content
    .edit-container
        .edit-title
            span.header__title-first DEOP
            span.header__title-last BAB
            i.fas.fa-utensils 
        .edit-explain
            span 회원정보변경
        form(action=routes.editProfile(user.id), method='post', enctype="multipart/form-data")
            .photo
                label(for="photo") User Profile
                input(type="file", id="photo", name="photo", accept="image/*")
            .name
                span NAME
                input(type="text", name="name", placeholder="Name", value=user.name)
            input(type="submit", value="Edit Profile").submit