extends ./layouts/main
include ./mixins/resBlock

block content
    .home           
        .top-restaurant
            h3.top-restaurant__title TOP
            .top-restaurant__content
                each restaurant in restaurants
                    +resBlock({
                        title: restaurant.title,
                        photo: restaurant.photo,
                        description: restaurant.description,
                        point: restaurant.point,
                        id: restaurant.id
                })
        .location-restaurant
            h3 Location TOP
            ul
                li Seoul

                li Incheon
        .menu-restaurant 
            h3 Menu TOP
            ul
                li KOREA

                li JAPAN