extends ./layouts/main

block content
    .form-container
        form(action=routes.resEdit(restaurants.id), method="post")
            input(type="text", name="title", value=restaurants.title)
            textarea(name="description")=restaurants.description
            input(type="submit", value="Edit")
