extends ./layouts/main

block content
    .form-container
        form(action=routes.resEdit(restaurants.id), method="post")
            input(type="text", name="title", value=restaurants.title)
            input(type="text", name="description", value=restaurants.description)
            input(type="submit", value="Edit")
