extends ./layouts/main

block content
    .form-container 
        form(action=`/res${routes.resUpload}`, method="post")
            label(for="photo") Representative image
            input(type="file", id="photo", name="photo")
            input(type="text", name="title", placeholder="Title", required=true)
            input(type="text", name="description", placeholder="Description", required=true)
            input(type="submit", value="Upload")

