.home {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.top-restaurant {
    
}

.top-restaurant__title {
    font-size: 24px;
    font-weight: bold;
    color: $black;  
    padding-bottom: 10px;
}

.top-restaurant__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    border-top: 1px solid $dark-basic;
    padding-top: 20px;
}